<div class="info-box table-container">
    <div class="info-box-content">
        <!-- server errors box -->
        <div
            *ngIf="serverErrors.length > 0"
            class="card card-danger card-outline"
        >
            <div class="card-body">
                <h5 class="card-title">Server errors</h5>

                <div class="card-text">
                    <ul>
                        <li *ngFor="let item of serverErrors">{{ item }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- server errors box end -->
        <form [formGroup]="gatewayForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label for="serialNumber"
                            >{{ fields.serialNumber }}:
                        </label>
                        <input
                            id="serialNumber"
                            type="text"
                            class="form-control"
                            formControlName="serialNumber"
                        />
                    </div>
                    <div class="col-md-4">
                        <label for="name">{{ fields.name }}: </label>
                        <input
                            id="name"
                            type="text"
                            class="form-control"
                            formControlName="name"
                        />
                    </div>
                    <div class="col-md-4">
                        <label for="ipv4">{{ fields.ipv4 }}: </label>
                        <input
                            id="ipv4"
                            type="text"
                            class="form-control"
                            formControlName="ipv4"
                        />
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button
                    type="submit"
                    [disabled]="loading"
                    class="btn btn-default"
                    [routerLink]="['/']"
                >
                    Cancel
                </button>
                <button
                    type="submit"
                    class="btn btn-primary float-right"
                    [disabled]="!gatewayForm.valid"
                >
                    Save
                </button>
            </div>
        </form>
        <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
        </div>
    </div>
</div>
